<mat-card>
  <mat-card-content>
    <div class="header">
      <p>Reset Password Account</p>
    </div>
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label for="email">Email</mat-label>
          <input
            type="email"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            matInput
            #email="ngModel"
            placeholder="Enter your email"
          />
          <mat-error class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="['required']">Email is required</div>
            <div *ngIf="['email']">
              Email must be a valid email address <br />
            </div>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="btnLogin container text-center">
        <button type="submit" mat-flat-button color="primary">
          Send Email
        </button>
      </div>

      <div class="button-row container text-center">
        <mat-error
          class="alert alert-warning"
          *ngIf="f.submitted && isResetFailed"
        >
          Reset failed!<br />{{ errorMessage }}
        </mat-error>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your reset password is successful!
    </div>
  </mat-card-content>
</mat-card>
