<div>
  <mat-toolbar color="primary">
    <button mat-icon-button color="accent" aria-label="Example icon button with a home icon" routerLink="home">
      <mat-icon >home</mat-icon>
    </button>
    <a mat-icon-button style="margin-left: 20px;" routerLink="login">Login</a>
    <a mat-icon-button style="margin-left: 20px;" *ngIf="!isLoggedIn" routerLink="register">Sign Up</a>
    <span class="example-spacer"></span>
      <a mat-icon-button style="margin-left: 60px;" *ngIf="showAdminBoard" routerLink="admin">Admin Board</a>
      <a mat-icon-button style="padding-right: 80px;" *ngIf="showModeratorBoard" routerLink="mod">Moderator Board</a>
      <a mat-icon-button style="margin-left: 60px;" *ngIf="isLoggedIn" routerLink="user">User</a>
      <a mat-icon-button style="margin:0 40px 0 40px;" *ngIf="isLoggedIn" routerLink="profile">{{ username }}</a>
      <a *ngIf="isLoggedIn" style="margin:0 20px 0 20px" (click)="logout()" mat-icon-button routerLink="home">LogOut</a>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
